insmod gzio
insmod iso9660

# 隐藏菜单，直接启动
set timeout=0
set timeout_style=hidden
set default=0

if [ x$feature_default_font_path = xy ] ; then
   font=unicode
else
   font=$prefix/unicode.pf2
fi

set gfxmode=1024x768,640x480
set gfxpayload=1024x768
if loadfont $font; then
    insmod efi_gop
    insmod efi_uga
    insmod video_bochs
    insmod video_cirrus
    insmod all_video
    insmod png
    insmod gfxterm
    terminal_input console
    terminal_output gfxterm
fi

menuentry 'Start PXVDI live (Graphical)' --class debian --class gnu-linux --class gnu --class os {
    linux       /boot/linux26 boot=pxvdi pxvdi=live splash=silent quiet
    initrd      /boot/initrd.img
}

menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
    fwsetup
}
